@font-face {
  font-family: "cera-bold";
  src: url("fonts/cera-bold.woff") format("woff");
}

@font-face {
  font-family: "cera-regular";
  src: url("fonts/cera-regular.woff") format("woff");
}

@font-face {
  font-family: "cera-thin";
  src: url("fonts/cera-thin.woff") format("woff");
}

@font-face {
  font-family: "cera-light";
  src: url("fonts/cera-light.woff") format("woff");
}

:root {
  /* colors */
  --primary: #160E6B;
  --purple: #4420D8;
  --purple-aux: #917DFF;
  --yellow: #FFBE44;
  --pink: #FF2972;
  --white: #FFF;
  --black: #000;

  /* fonts */
  --font-size-base: 16px;
  --font-size-h1: 3.375em;
  --line-height-base: 1.42;

  /* responsive */
  --screen-xs: 576px;
  --screen-sm-min: 768px;
  --screen-sm-max: 992px;
  --screen-md-max: 1280px;
}

html, body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: cera-regular;
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: var(--font-size-h1);
  font-family: cera-bold;
}

h2 {
  font-family: cera-light;
}

h3 {
  font-family: cera-bold;
}

p {
  font-family: cera-regular;
}
